/* Color definitions */
@define-color white rgba(255, 255, 255, 1);
@define-color black rgba(0, 0, 0, 1);
@define-color module-bg rgba(50, 50, 50, 0.5);
@define-color module-hover rgba(160, 160, 160, 0.8);
@define-color module-active rgba(0, 0, 0, 0.4);
@define-color module-active-self rgba(0, 0, 0, 0.55);
@define-color pink-highlighter rgba(228,40,156,1);
/* https://github.com/Alexays/Waybar/wiki/Styling */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: NotoSans, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    color: @white;
    /* transition-property: background-color, color;
    transition-duration: 2s; */
    border-radius: 25px;
    background-color: transparent; /* fallback color */
    background: transparent;
    margin: 0px 0px;
    padding: 0px 0px;
    /* font-size: 13px; */
}

#waybar {


    background-image: linear-gradient( rgba(0, 0, 0, 0.2), transparent);
    margin: 5px 5px;
    border-radius: 0px;
    

}

/* .module {
    background-color: @module-bg;
    padding: 2px 10px;
    margin: 2px 2px;
} */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces,
.modules-right {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    padding:5px 5px;
    margin:5px 5px 2px 5px;
    background-color: @module-bg;
}


#workspaces button {
    padding:0px 10px;
    background-color: transparent;
    color: @white;
    
}

#workspaces button.active,
#tray,
#idle_inhibitor,
#connections,
#control-center,
#clock {
  background-color: @module-active; /* Reference dark active color */
  background: @module-active;
  text-shadow: 1px 0px 3px @black;
}

#workspaces button:hover,
#clock:hover,
#network:hover,
#mpd:hover,
#bluetooth:hover,
#control-center:hover,
#idle_inhibitor:hover {
  background: @module-hover; /* Reference bright hover color */
  background-color: @module-hover;
  box-shadow: 1px 0px 2px 0px darker(@module-hover);
}

tooltip {
    background: @module-bg;
}

#tray,
#idle_inhibitor {
            padding: 0px 10px;
            margin: 0px 0px;

}

#connections,
#control-center{
            padding: 0px 0px;
            margin: 0px 0px;

}

#tray,
#idle_inhibitor,
#connections {
    margin-right: 5px;
}

#battery {

    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;

}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {

    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


label:focus {
    background-color: #000000;
}





#network,
#pulseaudio {

    border-radius: 25px 0px 0px 25px;
    padding-left: 10px;
    padding-right: 5px;

}

#bluetooth,
#custom-power {
    border-radius: 0px 25px 25px 0px;
    padding-right: 10px;
    padding-left: 5px;

}


#custom-notifications,
#battery {
    padding: 0px 5px;
}

#clock {
    padding: 0px 10px;
    margin: 5px 0px;
    background-color: @module-active-self;
}
#network.disconnected {

}

#pulseaudio {

    color: #ffffff;
}

#pulseaudio.muted {

    color: #ffffff;
}

#wireplumber {

    color: #ffffff;
}

#wireplumber.muted {

}

#custom-media {

    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {

}

#custom-media.custom-vlc {

}

#temperature {

}

#temperature.critical {

}

#tray {

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;

}

#idle_inhibitor {

}

#idle_inhibitor.activated {

    color: #ffffff;
}

#mpd {

    color: #ffffff;
}

#mpd.disconnected {

}

#mpd.stopped {

}

#mpd.paused {

}

#keyboard-state {

    color: #ffffff;
    padding: 0px 0px;
    margin: 0px 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {

}

#scratchpad {
    
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0px;
}

#privacy-item {
    padding: 0px 5px;
    color: white;
}

#privacy-item.screenshare {

}

#privacy-item.audio-in {

}

#privacy-item.audio-out {

}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
