[Unit]
Description=RClone OneDrive Mount
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount onedrive: %h/mnt/onedrive --vfs-cache-mode writes
ExecStop=/bin/fusermount -u %h/mnt/onedrive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target